* {
    font-family: 'Nunito', sans-serif;
}

/* TOP NAV BAR STYLING START */
.navbar {
    background: radial-gradient(at top left, #0000ff, #000);
}

.navbar a {
    color:#fff;
}

.navbar-brand {
    font-weight:bold;
    margin-left: 24px;
}
/* TOP NAV BAR STYLING END    */

main {
    margin-top: 10rem;
}

#moviePoster {
    margin: 3rem;
}

.poster {
    border-radius: 1rem;
    border-style: solid;
    border-color: black;
    margin: none;
}

#movieProfile {
    margin-top: 3rem;
}

#sourcesList ul, li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#sourcesList ul li {
    margin-right: 1rem;
}

figure img {
    border-radius: .5rem;
}

.card {
    display: flex;
    margin: .5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border-color: none;
    width: 18rem;
}

.listPoster {
    width: 18rem;
    height: 28rem;
    border-radius: 1rem;
    border-style: solid;

    margin: none;
}

.btn {
    align-items: center;
    justify-content: center;
    width: 18rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.cardBtn {
    border-style: solid;
    background-color: none;
    border-radius: 1rem;;
}

#watched {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#watchlist {
    margin: 2rem;
}

/* WATCHLIST BUTTONS STYLING START */
.listButtons {
    font-size: 2rem;
    border-radius: .5rem;
    border-style: solid;
    margin: 2rem;
    color: #fff;
    background: radial-gradient(at top left, #0000ff, #000);
    transition: background 0.3s ease;
}

.listButtons:hover {
    background: radial-gradient(at top left, #000, #00f);
}
/* WATCHLIST BUTTONS STYLING END   */


/* Vertical alignment between small and medium screen width to prevent overlap betweren poster and text */
@media (min-width: 768px) and (max-width: 991px) {
    #movieProfile {
        width: 100%;
    }
  }
