/* TOP NAV BAR STYLING START */
.navbar {
    background: radial-gradient(at top left, #0000ff, #000);
}

.navbar a {
    color:#fff;
}

.navbar-brand {
    font-weight:bold;
    margin-left: 24px;
}
/* TOP NAV BAR STYLING END   */
/* main {
    margin: 10rem;
} */

#moviePoster {
    margin: 3rem;
}

/* #moveProfile {
    margin-top: 3rem;
} */

/* #sourcesList ul, li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
} */

#sourcesList ul li {
    margin-right: 1rem;
}
/* 
figure img {
    border-radius: .5rem;
} */

.card {
    margin: .5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border-color: black;
}

.card-img-top {
    width: 17.9rem;
    border-radius: 1rem;
    border-style: solid;
}

/* WATCHLIST BUTTONS STYLING START */
.listButtons {
    font-size: 2rem;
    border-radius: .5rem;
    border-style: solid;
    margin: 2rem;
    color: #fff;
    background: radial-gradient(at top left, #0000ff, #000);
    transition: background 0.3s ease;
}

.listButtons:hover {
    background: radial-gradient(at top left, #000, #00f);
}
/* WATCHLIST BUTTONS STYLING END   */